<div class="container">
    <div class="row no1">
      <div class="col-lg-3">
        <div class="side-menu">
          <%= render 'sorts/user_sort_select', user: @user %>  
          <%= render 'user/menus/genre_search', genres: @genres %>
        </div> 
      </div>
      <div class="col-lg-7">
        <h3>All users</h3>
        <table class="table">
                <tr>
                        <th>ユーザー</th>
                        <th>投稿メニュー数</th>
                        <th>登録日</th>
                </tr>
                <% @users.each do |user| %>
                <tr>
                        <td>
                            <%= link_to user_path(user), class: "btn-link" do %>
                                <strong><%= user.name %></strong>
                            <% end %>
                        </td>
                        <td>
                            <%= user.menus.count %>
                        </td>
                        <td>
                            <%= user.created_at.strftime('%Y/%m/%d') %>
                        </td>
                </tr>
                <% end %>
                <%= paginate @users %>
        </table>
      </div>
    </div>
</div>