<% if user_signed_in? %>
        <% if current_user.id == @user.id %>
        <% else %>
            <% if menu.is_valid == true %>
                <div class="col-lg-6 col-xs-12">       
                    <% if menu.image? %>
                        <%=  link_to @menu.image.url, 'data-lightbox': menu.image do %>
                            <%= image_tag menu.image.thumb.url, class:"photo" %>
                        <% end %>
                    <% else %>
                    <%= image_tag menu.image.thumb.url, class:"photo"  %>
                    <% end %>   
                </div>
                <div class="col-lg-offset-2  col-lg-3 col-xs-offset-2  col-xs-8">
                    <div class="menu-content">
                        <h4>Menu name:<%= menu.name %> </h4>
                        ユーザー
                        <%= link_to menu.user.name, user_path(user) %><br />
                        合計距離
                        <%= menu.total_distance %>m<br>
                        <p>ステータス　公開中<br>
                         内容
                        <%= menu.content.html_safe %><br>

                        <%= link_to :back do %>
                            <button>前へ戻る</button>
                        <% end %>     
                    </div>
                </div>
            <% else %>
                <p>非公開になったメニューです</p>
            <% end %>
        <% end %>
<% else %>
    <p>非公開になったメニューです</p>
<% end %>