<h3>Mnuss</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>user name</th>
      <th>menu</th>
    </tr>
  </thead>
  <tbody>
    <% if admin_signed_in? %>
        <% menus.each do |menu| %>
            <tr>
                <td>
                <%= link_to admin_user_path(menu.user) do %>
                    <%= menu.user.name %>
                <% end %>
                </td>
                <td>
                    <%= link_to menu.name, admin_menu_path(menu.id) %>
                </td>
            </tr>
        <% end %>
    <% else %>
        <% menus.each do |menu| %>
            <tr>
            <td>
                <%= link_to user_path(menu.user) do %>
                    <%= menu.user.name %>
                <% end %>
            </td>
            <td>
                <%= link_to menu.name, menu_path(menu.id) %>
            </td>
            </tr>
        <% end %>
    <% end %>

　
  
  </tbody>
 </table>