<div class="container">
<div class="row no1">
        <div class="col-lg-3 col-xs-12">
                <div class="side-menu">
                    <%= render 'sorts/menu_sort_select', menu: @menu %>  
                    <%= render 'user/menus/genre_search', genres: @genres, menu: @menu %>
                </div> 
        </div>
        <div class="col-lg-7 col-xs-12">
                <h3>All menus</h3>
                <table class="table">
                        <tr>
                                <th>ユーザー</th>
                                <th>メニュータイトル</th>
                                <th>距離(m)</th>
                                <th>競技</th>
                        </tr>
                        <% @menus.each do |menu| %>
                        <tr>
                                <td>
                                    <%= link_to user_path(menu.user), class: "btn-link" do %>
                                        <strong><%= menu.user.name %></strong>
                                    <% end %>
                                </td>
                                <td>
                                   <%= link_to menu_path(menu), class: "btn-link" do %>
                                     <strong><%= menu.name %></strong>
                                   <% end %>
                                </td>
                                <td>
                                   <%= menu.total_distance %>
                                </td>
                                <td>
                                   <%= menu.genre.name %> 
                                </td>
                        </tr>
                         <% end %>
                </table>
        </div>
        <% if request.url.include?('genre_search') %>
        <% else %>
          <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
            <%= paginate @menus %>
            </div>
          </div>
        <% end %>
</div>
</div>