<div class="container">
<div class="row no1">
        <div class="col-xs-12 col-md-6">
        <% if @menu.image? %>
        
        <%=  link_to @menu.image.url, 'data-lightbox': @menu.image do %>
            <%= image_tag @menu.image.thumb.url %>
        <% end %>

        <% else %>
            <%= image_tag @menu.image.thumb.url %>
        <% end %>
        
        </div>
        <div class="col-md-3 col-xs-12">
        <% if user_signed_in? %>
                <% if current_user.id == @user.id %>
                <% else %>
                    <div id="bookmark-btn-<%= @menu.id %>">
                        <%= render 'user/bookmarks/bookmark', menu: @menu %>
                    </div>
                <% end %>
        <% else %>
        <% end %>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="menu-content">
                メニュー名
                <%= @menu.name %><br>

                内容
                <%= @menu.introduction.html_safe %>
            
                合計距離
                <%= @menu.total_distance %>m<br>
                <% if @menu.is_valid == true %>
                公開<br>
                <% else %>
                非公開<br>
                <% end %>
            </div>
            
            <%= link_to user_path(@user), class: "btn-link" do %>
                <%= @menu.user.name %>
            <% end %>

            <% if user_signed_in? %>
                <% if current_user.id == @user.id %>
                    <%= link_to "メニュー編集", edit_menu_path(@menu) %>
                    <%= link_to "Destroy", menu_path(@menu.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%>
                <% end %>
            <% else %>
            <% end %>
        </div>
</div>
</div>
