<div class="container">
<div class="row menu-show">
    <div class="col-sm-7">
            <%= image_tag @menu.image.thumb.url %><br>
    </div>
    <div class="col-sm-5">
    
    　    メニュー名
    　    <%= @menu.name %><br>

    　    内容<br>
    　    <%= @menu.introduction.html_safe %>
    　
    　    合計距離
    　    <%= @menu.total_distance %>m
       　 <% if @menu.is_valid == true %>
     　   <td> 公開 </td>
     　   <% else %>
     　   <td> 非公開 </td>
     　   <% end %>
    　    <%= link_to "edit", edit_menu_path(@menu) %>
    　    <%= link_to "Destroy", menu_path(@menu.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%>
    </div>
    
</div>
</div>
