<div class="row">
    <div class="col-xs-9">
        
        編集内容
        <%= form_for @information, url: admin_information_path, method: :patch, class: "form-control" do |f| %>
            タイトル
            <%= f.text_field :title, class:"form-control" %>
            内容
            <%= f.text_field :info_content, class:"form-control" %>
            公開ステータス
            　公開 
            　<%= f.radio_button :is_valid, true %> 
            　非公開 
            　<%= f.radio_button :is_valid, false %> 
    
            <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
        <% end %>
    </div>
    
    <div class="col-xs-3">

    </div>
</div>