<div class="container">

<div class="row user-show">
    <div class="col-xs-4">
    <h2>user info</h2>
        user-name
        <%= @user.name %><br>
        introduction
        <%= @user.introduction %><br>
        <!--ログインユーザー場合のみ表示-->
        <% if @user.id == current_user.id %>
        <%= link_to "ユーザー情報編集", edit_user_path(@user) %><br>

        <%= link_to '大会追加', new_competition_path %>
        <%= link_to 'メニュー追加', new_menu_path %>
        <% else %>
        <% end %>
        <table class="table table-striped">
        　<tr>
           <thead>
               <th>大会一覧</th>
           </thead>
         </tr>
         <tr>
         <% @competitions.each do |competition| %>
  
            <td>
               <%= link_to competition.name, competition_path(competition) %>
            </td>
    
         </tr>
           <% end %>
        　
        </table>

    </div>
    <div class="col-xs-8">
    <h2>menu</h2>
    <table class="table table-striped">
    　<tr>
       <thead>
           <th>user</th>
           <th>title</th>
           <th>total distance</th>
       </thead>
     </tr>
     <tr>
       <% @menus.each do |menu| %>
        <td>
            <%= link_to @user.name, user_path(@user.id) %>
        </td>
        <td>
           <%= link_to menu.name, menu_path(menu) %>
        </td>
        <td>
           <%= menu.total_distance %>m
        </td>
     </tr>
       <% end %>
    　
    </table>
    <!--トータル距離のグラフ-->
    <%= line_chart @user.menus.all.pluck(:created_at,:total_distance), max: 12000,title: "total distance" %>
    <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
    
    </div>
</div>
</div>