<div class="row">
    <div class="col-xs-3">
        user-name
        <%= @user.name %><br>
        introduction
        <%= @user.introduction %>
        <%= link_to "edit", edit_user_path(@user) %>

        <%= link_to '＋', new_competition_path, class: "btn btn-default btn-lg rounded-circle p-0 btn-plus" %>
        <table class="table table-striped">
        　<tr>
           <thead>
               <th>大会一覧</th>
           </thead>
         </tr>
         <tr>
         <% @competitions.each do |competition| %>
  
            <td>
               <%= link_to competition.name, competition_path(competition) %>
            </td>
    
         </tr>
           <% end %>
        　
        </table>

    </div>
    <div class="col-xs-9">
    <h2>menu</h2>
    <%= link_to '＋', new_menu_path, class: "btn btn-default btn-lg rounded-circle p-0 btn-plus" %>
    <table class="table table-striped">
    　<tr>
       <thead>
           <th>user-name</th>
           <th>n</th>
       </thead>
     </tr>
     <tr>
       <% @menus.each do |menu| %>
        <td>
            <%= link_to @user.name, user_path(@user.id) %>
        </td>
        <td>
           <%= link_to menu.name, menu_path(menu) %>
        </td>
        <td>
           <%= menu.total_distance %>m
        </td>
     </tr>
       <% end %>
    　
    </table>
    <!--トータル距離のグラフ-->
    <%= line_chart @user.menus.all.pluck(:created_at,:total_distance), max: 12000,title: "total distance" %>
    <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
    
    </div>
</div>