top

<% if admin_signed_in? %>
            <%= link_to "ジャンル一覧", admin_genres_path %>

              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            <% elsif user_signed_in? %>
            <%= link_to "メニュー一覧", menus_path %>

              ようこそ、<%= current_user.name %>さん！</li>

              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% else %>

              <%= link_to 'ログイン', new_user_session_path %>
              <%= link_to 'ログイン 管理者', new_admin_session_path %>
<% end %>