<div class="container-fluid">
   <div class="row top-main">
      <div class="col-lg-9">   
         <h3 class="top-h3">多くの競技者のために</h3>
         <div class="top-message">
            膨大な量になるトレーニングメニュー<br>
            手書きのノートも、データのメニューも同じように管理できる<br>
            できることなら大会の結果も気軽に管理したい<br>
            水泳・オープンウォーター・トライアスロンなどの競技者・指導者向けに
            そんなサービスを提供できることを目指し、<br>
            このサイトを作成しました<br />
            
            <p class="guest">ゲストユーザー機能がありますので、是非お試しください。<br />※メニュー内</p>
         </div>
         <div class="col-sm-6">
               <% if admin_signed_in? %>
                 <div class="count-box">
                    <p>登録ユーザー数<%= link_to @users.count, admin_users_path, :style=>"color:yellow;" %>人<p>
                    <p>登録メニュー数<%= link_to @menus.count, admin_menus_path, :style=>"color:yellow;" %>件<p>
                    <p>登録大会数<%= link_to @competitions.count, admin_competitions_path, :style=>"color:yellow;" %>件<p>
                 </div>
               <% else %>
                  <div class="ranking-box">
                    <h4 class–"ranking-title">人気メニューランキング</h4>
                       <% @menu_rankings.each.with_index(1) do |menu, i| %>
                        <%= i %>  位   タイトル:
                         <%= link_to menu_path(menu), class: "top-menu-rank" do %>
                           <strong><%= menu.name %></strong><br>
                         <% end %>
                         制作者:
                         <%= link_to user_path(menu.user), class: "top-menu-rank" do %>
                           <strong><%= menu.user.name %><br></strong>
                         <% end %>
                         
                        <% end %>
                  </div>
   
                  <div class="info-box">
                    <h4>お知らせ</h4>
                    <% @informations.each do |information| %>
                          <%= information.title %><br>
                          <p><%= information.info_content %></p>
                       <% end %>
                   </div>
               <% end %>
            </div>
         </div>
        
      </div>
   </div>
</div>
