<div class="container">
<div class="row no1">
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-3">
        <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
            <h3>ラップタイム追加</h3>
            <%= form_for @rap, class: "form-control" do |f| %>
        
                <%= f.hidden_field :record_id,:value => @record.id,class:"form-control" %>
                <%= f.label :距離 %><p>※数字のみ入力</p>
                <%= f.number_field :distance, class:"form-control"%>

                <%= f.label :ラップタイム %><p>※小数点第2位まで(30.22)入力</p>
                <%= f.number_field :rap_time, step: '0.01', class:"form-control"%>

                <%= f.submit "投稿", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
            <% end %>
            <% end %>
        <% else %>
        <% end %> 
    </div>
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-5">
        <h3>記録詳細</h3>
        <div class="record-main">
            <table class="table table-striped">
             　<tr>
                <thead>
                    <th>選手名</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                </tr>
                <tr>
                    <td><%= @record.name %></td>
                    <td><%= @record.athletic_event.name %></td>
                    <td><%= @record.time %></td>
                    <td><%= link_to '編集', edit_record_path(@record) %></td>
                    <td><%= link_to "Destroy", record_path(@record.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%></td>
                </tr>
        </table>
        <%= link_to @record.competition.name, competition_path(@competition) %>に戻る

        <!--ラップのグラフ-->
        <%= line_chart @record.raps.all.pluck(:distance,:rap_time), max: 60,title: "rap time" %>
        <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
        
        </div>  
    </div>
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-4">
        
        <table class="table table-striped">
    　      <tr>
                <h3>ラップ一覧</h3>
                <thead>
                    <th>距離</th>
                    <th>ラップタイム</th>
                    <th></th>
                    <th></th>
                </thead>
            </tr>
            <% @raps.each do |rap| %>
            <tr>
                <td><%= rap.distance %>m</td>
                <td><%= rap.rap_time %></td>
                <td><%= link_to '編集', edit_rap_path(rap) %></td>
                <td><%= link_to "Destroy", rap_path(rap.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%></td>
            </tr>
            <% end %>
        </table>


                
    </div>
</div>
</div>