<div class="container">
<div class="row no1">
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-3">
        <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
            <h3>ラップタイム追加</h3>
            <%= form_for @new_rap, class: "form-control" do |f| %>
        
                <%= f.label :選手名 %><br>
                <%= f.collection_select :record_id, @user.records.all, :id, :name %></br>

                <%= f.label :距離 %>
                <%= f.number_field :distance, class:"form-control"%>

                <%= f.label :ラップタイム %>
                <%= f.number_field :rap_time, step: '0.01', class:"form-control"%>

                <%= f.submit "投稿", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
            <% end %>
            <% end %>
        <% else %>
        <% end %> 
    </div>
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-5">
        <h2>記録詳細</h2>
        <div class="record-main">
            <table class="table table-striped">
             　<tr>
                <thead>
                    <th><%= @record.name %></th>
                    <th></th>
                    <th></th>
                </thead>
                </tr>
                <tr>
                    <td></td>
                    <td><%= @record.time %></td>
                    <td><%= link_to '編集', edit_record_path(@record) %></td>
                </tr>
        </table>
        <%= link_to @record.competition.name, competition_path(@competition) %>へ戻る

        <!--トータル距離のグラフ-->
        <%= line_chart @record.raps.all.pluck(:created_at,:rap_time), max: 60,title: "tap time" %>
        <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
        
        </div>  
    </div>
    <div class="col-offset-xs-1 col-xs-10 col-offset-xs-1 col-lg-4">
        
        <table class="table table-striped">
    　      <tr>
                <h2>ラップ一覧</h2>
                <thead>
                    <th>距離</th>
                    <th>ラップタイム</th>
                    <th></th>
                </thead>
            </tr>
            <% @raps.each do |rap| %>
            <tr>
                <td><%= rap.distance %>m</td>
                <td><%= rap.rap_time %></td>
                <td><%= link_to '編集', edit_rap_path(rap) %></td>
            </tr>
            <% end %>
        </table>


                
    </div>
</div>
</div>