<div class="container">
<div class="row no1">
    <div class="col-xs-6">
        <%= form_for @user, url: admin_user_path, class: "form-control" do |f| %>
            <%= f.file_field :image %>



            <%= f.label :name %>
            <%= f.text_area :name %><br>

            <%= f.label :introduction %>
            <%= f.text_area :introduction, 'data-provider': :summernote %>

            <p>会員ステータス</p>
            <%= f.label :在籍会員 %>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :退会済み　%>
            <%= f.radio_button :is_deleted, true %>

            <%= f.submit "編集", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
    
     <% end %>
    </div>
</div>
</div>