<div class="container">
<div class="row no1">
    <div class="col-xs-3">      
        <h2>User info</h2>
        <table class="table">
        　<tr>
            <th>User Name</th>
            <td><%= @user.name %></td>
         </tr>
         <tr>
            <th>introduction</th>
            <th></th>
         </tr>
         <tr>
            <%= @user.introduction %>
         </tr>
         </table>
         <li><%= link_to "ユーザー編集", edit_admin_user_path(@user) %></li>
         <!-- <li><%= link_to 'ブックマーク一覧', bookmarks_path %></li> -->
         <!--　admin側からブックマークへのリンクをどうする？ -->

        <table class="table table-striped">
        　<tr>
           <thead>
               <th>大会一覧</th>
           </thead>
         </tr>
         <tr>
         <% @competitions.each do |competition| %>
  
            <td>
               <%= link_to competition.name, competition_path(competition) %>
            </td>
    
         </tr>
           <% end %>
        　
        </table>

    </div>
    <div class="col-xs-9">
    <h2>menu</h2>
   
    <table class="table table-striped">
    　<tr>
       <thead>
           <th>user name</th>
           <th>menu name</th>
           <th>total distance</th>
       </thead>
     </tr>
     <tr>
       <% @menus.each do |menu| %>
        <td>
            <%= link_to @user.name, user_path(@user.id) %>
        </td>
        <td>
           <%= link_to menu.name, menu_path(menu) %>
        </td>
        <td>
           <%= menu.total_distance %>m
        </td>
     </tr>
       <% end %>
    　
    </table>
    <!--トータル距離のグラフ-->
    <%= line_chart @user.menus.all.pluck(:created_at,:total_distance), max: 12000,title: "total distance" %>
    <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
    
    </div>
</div>
</div>