<div class="container">
<div class="row no1">
<div class="col-lg-6 col-xs-12">
        <h2>記録詳細</h2>
        <div class="record-main">
            <table class="table table-striped">
             　<tr>
                <thead>
                  <th>選手名</th>
                  <th colspan="3"><%= @record.name %></th>
                </thead>
                </tr>
                <tr>
                    <td><%= @record.athletic_event.name %></td>
                    <td><%= @record.time %></td>
                    <td><%= link_to '編集', edit_admin_record_path(@record) %></td>
                    <td><%= link_to "Destroy", admin_record_path(@record.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%></td>
                </tr>
        </table>
        <%= link_to @record.competition.name, admin_competition_path(@competition) %>

        <!--ラップのグラフ-->
        <%= line_chart @record.raps.all.pluck(:distance,:rap_time), max: 60,title: "rap time" %>
        <!--x軸y軸の設定はpluck(:x軸,：y軸)でいけるy-->
        </div>
    </div>
    <div class="col-offset-lg-1 col-lg-5 col-xs-12">
        <h2>ラップ一覧</h2>
        <table class="table table-striped">
            <tr>
                <thead>
                    <th>距離</th>
                    <th>ラップタイム</th>
                    <th></th>
                    <th></th>
                </thead>
            </tr>
            <% @raps.each do |rap| %>
            <tr>
                <td><%= rap.distance %>m</td>
                <td><%= rap.rap_time %></td>
                <td><%= link_to '編集', edit_admin_rap_path(rap) %></td>
                <td><%= link_to "Destroy", admin_rap_path(rap.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%></td>
            </tr>
            <% end %>
        </table>   
    </div>

    
</div>
</div>