<div class="container">
    <div class="row no1">
        <div class="col-xs-12 col-md-6">
            <h2>大会詳細</h2>
            <table>
                <tr>
                    <th>大会名名</th>
                    <td><%= @competition.name %></td>
                </tr>
                <tr>
                    <th>内容</th>
                </tr>
                <tr>
                    <td><%= @competition.summary.html_safe %></td>
                <tr>
                <tr>
                    <th>ステータス</th>
                    <%if @competition.is_valid == true %>
                    <td> 公開 </td>
                    <% else %>
                    <td> 非公開 </td>
                    <% end %>
                </tr>
                    <tr>
                        <td><%= link_to "edit", edit_admin_competition_path(@competition) %></td>
                    </tr>
                    <tr>
                        <td> <%= link_to "Destroy", admin_competition_path(@competition.id), method: :delete,  "data-confirm" => "本当に削除しますか？"  ,class:"btn-sm btn-danger destroy_menu_10349"%></td>
                    </tr>
            </table>
            <%= link_to admin_user_path(@competition.user), class: "btn-link" do %>
                <%= @competition.user.name %>
            <% end %>

        </div>
        <div class="col-xs-3">

        <h2>記録一覧</h2>
        <div class="record-main">
            <table class="table table-striped">
                <tr>
                    <thead>
                    <th>大会一覧</th>
                    <th></th><th></th>
                    </thead>
                </tr>
                <% @records.each do |record| %>
                <tr>
                    <td>
                        <%= record.athletic_event.name %>
                    </td>
                    <td>
                        <%= link_to record.name, admin_record_path(record) %>
                    </td>
                    <td>
                        <%= record.time %>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>

    </div>
<div>