<div class="container">
    <div class="row no1">
        <div class="col-offset-xs1 col-xs-10 col-offset-lg-1 col-lg-10">
        <h3>ラップタイム編集</h3>
        <%= form_for @rap, url: admin_rap_path, class: "form-control" do |f| %>
    
            <%= f.hidden_field :record_id,:value => @record.id,class:"form-control" %>
            <%= f.label :距離 %>
            <%= f.number_field :distance, class:"form-control"%>

            <%= f.label :ラップタイム %>
            <%= f.number_field :rap_time, step: '0.01', class:"form-control"%>

            <%= f.submit "編集", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
        <% end %>
            
        </div>
    </div>
</div>