<li><%= link_to "お知らせ一覧", admin_informations_path %></li>
<li><%= link_to "種目一覧", admin_athletic_events_path %></li>
<li><%= link_to "ジャンル一覧", admin_genres_path %></li>
<li><%= link_to "メニュー 一覧", admin_menus_path %></li>
<li><%= link_to "ユーザー 一覧", admin_users_path %></li>
<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>