<li class="user-name">Login User  <%= current_user.name %></li>
<li><%= link_to "メニュー 一覧", menus_path %></li>
<li><%= link_to "ユーザー 一覧", users_path %></li>
<li><%= link_to "マイページ", user_path(current_user) %></li>
<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>